@import '~bootstrap/scss/bootstrap.scss';

body {
    background: lightpink;
}

.like {
    text-align: right;
}

.card-img-sold {
    opacity: 0.2;
}

.card-body span {
    display: block;
}

.card-title img {
    width: 22.5px;
    height: 22.5px;
}